
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-full-width portlet light" style="min-height:500px">
            <ul id="enterpriseUl" class="nav nav-tabs">
                <li class="active">
                    <a onclick="privateAjaxLoad('blogrollContent','blogrollList',null,this,null);" href="javascript:void(0);">
					链接管理
                    </a>
                </li>
                <li>
                    <a onclick="privateAjaxLoad('blogrollContent','blogrollTypeList',null,this,null);" href="javascript:void(0);">
					类型管理</a>
                </li>
            </ul>
            <div  class="tab-content" id="blogrollContent">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	fixMenu();
	privateAjaxLoad('blogrollContent','blogrollList',null,this,null);
});
function privateAjaxLoad(targetDiv,url,data,obj,animate){
	if(animate!=null){
		$('#'+targetDiv).removeClass('animated bounceIn').hide();
		$('#'+targetDiv).addClass('animated bounceIn').show();

	}
	ajaxLoad(targetDiv,url,data,obj);
	$(obj).parent('li').addClass('active').siblings().removeClass('active');
}

</script>