
<div class="row">
    <div class="col-md-12">
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="button" onclick="columnSearch(this)" attr="root" class="btn green btn-circle column" value="顶级栏目">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="button" onclick="columnSearch(this)" attr="children" class="btn btn-circle column" value="底层栏目">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="view">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="button" onclick="viewsSearch(this)" class="btn btn-circle views green" attr="columnViews" value="总访问量">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="button" onclick="viewsSearch(this)" class="btn btn-circle views" attr="columnViewsday" value="日访问量">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="button" onclick="viewsSearch(this)" class="btn btn-circle views" attr="columnViewsweek" value="周访问量">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="button" onclick="viewsSearch(this)" class="btn btn-circle views" attr="columnViewsmonth" value="月访问量">
                            </div>
                        </div>
                     </div>
                </div>
           </form>
        <div class="container">
            <div id="loadingDiv" class="modal fade in" style="background: url(@routes.Assets.at("images/bg-white.png")) repeat;">
                <div class="modal-header"style="height: 30%;border: 0px;"></div>
                <div class="modal-body" style="width:40%;height: 65%; margin: auto;border: 0px;">
                    <p id="loading" style="text-align: center;margin-top:20px;font-family: '微软雅黑';"><img src='@routes.Assets.at("images/loading.gif")' > 数据加载中，请稍后</p>
                </div>
            </div>
        </div>
        <div class="tab-content" id="countContent"></div>
    </div>
</div>
<script type="text/javascript">

var column='root';
var view='columnViews';
jQuery(document).ready(function() {
    search();
});
function columnSearch(obj){
    $(".column").removeClass('green');
    $(obj).addClass('green');
    column=$(obj).attr('attr');
    search();
}
function viewsSearch(obj){
    $(".views").removeClass('green');
    $(obj).addClass('green');
    view=$(obj).attr('attr');
    search();
}
function privateAjaxLoad(targetDiv,url,data,obj,animate){
	if(animate!=null){
		$('#'+targetDiv).removeClass('animated bounceIn').hide();
		$('#'+targetDiv).addClass('animated bounceIn').show();
	}
	ajaxLoad1(targetDiv,url,data,obj);
	$(obj).parent('li').addClass('active').siblings().removeClass('active');
}
function search(){
    privateAjaxLoad('countContent',view+'?column='+column,null,this,null);

}
</script>