<div class="row">
	<div style="width: 95%">
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
	<div class="row" style="margin-left: 30px">
		<button type="button" class="btn btn-circle blue btn-sm"
			onclick="checkData()">保存</button>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
	<div class="row">&nbsp;</div>
		<form class="form-horizontal" method="post" id="passwordModify">
			<div class="row">
				<div class="form-group">
				<label class="col-xs-1 control-label"></label>	<label for="name" class="col-xs-4 control-label">原密码：</label>
					<div class="col-xs-7">
						<div class="input-group">
							<span class="input-group-addon input-left"> <i
								class="icon-lock"></i>
							</span> <input id="password" type="password" name="password" onkeyup="checkOldPwd(this.value)"
							required class="form-control input-right" placeholder="原密码">
						</div>
						<span class="help-block" style="margin-left: 40px; color: #a94442;" id="oldpwd"> &nbsp;</span>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="form-group">
					<label class="col-xs-1 control-label"></label><label for="name" class="col-xs-4 control-label">新密码：</label>
					<div class="col-xs-7">
						<div class="input-group">
							<span class="input-group-addon input-left"> <i
								class="icon-lock"></i>
							</span> <input id="password1" type="password" name="newPassword1" required
								onkeyup="CheckIntensity(this.value)"
								class="form-control input-right" placeholder="新密码">
						</div>
						<span id="newpwd1" style="margin-left: 40px; color: #a94442;"
							class="help-block"> &nbsp;</span>
					</div>
				</div>
			</div>
			<!--/span-->
			<div class="row">
				<div class="form-group">
					<label class="col-xs-1 control-label"></label><label for="name" class="col-xs-4 control-label">确认密码：</label>
					<div class="col-xs-7">
						<div class="input-group">
							<span class="input-group-addon input-left"> <i
								class="icon-lock"></i>
							</span> <input id="password2" type="password" onkeyup="confirmNewPwd(this.value)" required
								class="form-control input-right" placeholder="确认密码">
						</div>
						<span id="newpwd2" class="help-block" style="margin-left: 40px; color: #a94442;"> &nbsp;</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="col-xs-1 control-label"></label><label for="name" class="col-xs-4 control-label">密码强度：</label>
					<div class="col-xs-7" style="padding-top: 8px;">
						<div class="progress">
							<div id="none" class="progress-bar progress-bar-warning"
								style="width: 0%"></div>
							<div id="weak" class="progress-bar progress-bar-warning"
								style="width: 33%; display: none;">弱</div>
							<div id="medium" class="progress-bar progress-bar-success"
								style="width: 66%; display: none;">中</div>
							<div id="strong" class="progress-bar progress-bar-danger"
								style="width: 100%; display: none;">强</div>

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
function checkOldPwd(oldpwd){
	if(oldpwd!=""&&oldpwd!=null){
		$("#oldpwd").html("&nbsp;");
	}else{
		$("#oldpwd").text("请输入原密码！");
	}
}
function confirmNewPwd(confirmPwd){
	if(confirmPwd!=""&&confirmPwd!=null){
		var newpwd1=$("#password1").val();
		if(confirmPwd!=newpwd1){
			$("#newpwd2").text("两次密码不一致！");
		}else{
			$("#newpwd2").html("&nbsp;");
		}
	}else{
		$("#newpwd2").text("两次密码不一致！");
	}
}
	function checkData() {
		var password = $("#password").val();
		var password1 = $("#password1").val();
		var password2 = $("#password2").val();
		if (password != "" && password != null) {
			$("#oldpwd").html("&nbsp;");
			if (password1 != "" && password1 != null) {
				$("#newpwd1").html("&nbsp;");
				if (password1 == password2) {
				$("#newpwd2").html("&nbsp;");
					$.post('modifyPassword',$("#passwordModify").serialize(),function(data){
					    tipInfo(data);
						if(data=="修改成功！"){
							window.location.href="logout";
						}
					});
				} else {
					$("#newpwd2").text("两次密码不一致！");
				}
			} else {
				$("#newpwd1").text("请输入新密码！");
			}
		} else {
			$("#oldpwd").text("请输入原密码！");
			return false;
		}
	}
	function CheckIntensity(pwd) {
		if(pwd!=""&&pwd!=null){
			var num = 0;
		var letter = 0;
		var symbol = 0;
		if (pwd.length == 0) {
			$("#newpwd1").html("请输入新密码！");
			$("#strong").hide();
			$("#none").show();
			$("#weak").hide();
			$("#medium").hide();
			$("#newpwd1").html("&nbsp;");
			return false;
		} else if (pwd.length <= 5) {
			$("#newpwd1").html("长度最少6位");
			$("#strong").hide();
			$("#none").show();
			$("#weak").hide();
			$("#medium").hide();
			return false;
		} else {
			$("#newpwd1").html("&nbsp;");
		}
		for (i = 0; i < pwd.length; i++) {
			var t = pwd.charCodeAt(i);
			if (t >= 48 && t <= 57) {
				num++;
			} else if ((t >= 65 && t <= 90) || (t >= 97 && t <= 122)) {
				letter++;
			} else {
				symbol++;
			}
		}
		//判断密码为强
		if (num != 0 && letter != 0 && symbol != 0) {
			$("#strong").show();
			$("#none").hide();
			$("#weak").hide();
			$("#medium").hide();

		} else if ((num == 0 && letter == 0 && symbol != 0)
				|| (num == 0 && symbol == 0 && letter != 0)
				|| (num != 0 && letter == 0 && symbol == 0)) {//判断密码为弱
			$("#strong").hide();
			$("#none").hide();
			$("#weak").show();
			$("#medium").hide();
		} else {//判断密码为中
			$("#strong").hide();
			$("#none").hide();
			$("#weak").hide();
			$("#medium").show();
		}
		}else{
			$("#newpwd1").text("请输入新密码！");
		}

	}
</script>





