@(id: String, typeList: List[ColumnType], mobileList: List[Mobile], type_id: String,mobilecontent_id:String,articleSourceList:List[ArticleSource])
<style>
* {
margin : 0 ;
padding : 0 ;
}
</style>

<div class="row">
    <span style="color : black ; font-weight : bold ; font-size : 16 px ;">
        <i class="fa fa-edit"></i>&nbsp;&nbsp;添加文章
    </span> &nbsp;&nbsp;| <a class="btn" style="color : gray ;"
onclick="ajaxLoad_index('content-body-div','columnTreeIndex',null,this)">
    <i class="fa fa-reply"></i>&nbsp;&nbsp;返回文章列表
</a>
    <hr style="border-bottom : 1 px solid #89C4F4 ; margin-top : 5 px ;">
    <form class="form-horizontal" id="myFormInput2" method="post" enctype="multipart/form-data">
        <div class="form-body">
            <div class="col-lg-9" style="margin-left : - 25 px ;">
                <div class="form-group">
                    <label class="col-md-2 control-label">栏目<span
                    class="required">*</span></label>
                    <div class="col-md-5">
                        <select id="selectAdd" name="column_id" style="width: 200px;height: 30px" data-options="url:'selectColumnJsonTreeDep',method:'get',
                            onSelect:function(node){
                            var type_id= node.type_id;
                            selectOption(type_id);
                            $('#mobile_idValue').val(node.mobilecontent_id);
                            $('#mobile_idValue1').val(node.mobilecontent_id);
                           },onLoadSuccess:function(){
							$('#selectAdd').combotree('setValue','@id');
							}

                        ">
                        </select>
                    </div>

                    <label class="col-md-2 control-label">模板&nbsp;&nbsp;</label>
                    <div class="col-md-3">
                        <input type="hidden" name = 'mobile_id' id = "mobile_idValue" value="@mobilecontent_id" />
                        <input type="hidden" id = "mobile_idValue1" value="" />
                        <select id="mobile_idSelect" class="form-control" onchange="selectMobile_idValue()" >
                            <option value ="@mobilecontent_id" selected>默认模版</option>
                            @for(mobile <- mobileList) {
                                <option value ="@mobile.id">@mobile.name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">标题<span
                    class="required">*</span></label>
                    <div class="col-md-10">
                        <input id="title" type="text" name="title" required class="form-control" placeholder="标题" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">副标题&nbsp;&nbsp;</label>
                    <div class="col-md-5">
                        <input type="text" name="subtitle" class="form-control" placeholder="副标题" />
                    </div>
                    <label class="col-md-2 control-label">文章来源</label>
                    <div class="col-md-3">
                        <select id="source" class="form-control" name="source_id" >
                            <option value ="" >-请选择-</option>
                        @for(articleSource <- articleSourceList) {
                            <option value ="@articleSource.id" >@articleSource.name</option>

                        }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">外部链接&nbsp;&nbsp;</label>
                    <div class="col-md-10">
                        <input type="text" name="httpurl" class="form-control" placeholder="外部链接" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">摘要&nbsp;&nbsp;</label>
                    <div class="col-md-10">
                        <textarea id="memo" rows="2" name="snippet" maxlength="100" class="form-control"
                        placeholder="摘要()"></textarea>
                    </div>
                </div>
                <div class="form-group" id="files" style="display: none">
                    <label class="col-md-2 control-label">附件&nbsp;&nbsp;</label>
                    <div class="col-md-10">
                        <input id="fileupload" type="file" name="accessorys"  >
                    </div>
                </div>
                <div class="form-group" id="videos" style="display: none">
                    <label class="col-md-2 control-label">视频&nbsp;&nbsp;</label>
                    <div class="col-md-10">
                        <input id="fileupload" type="file" name="videos" @*data-url="server/php/"*@ >
                    </div>
                </div>
                <div id="photos">

                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">内容<span
                    class="required">*</span></label>
                    <div class="col-md-10">
                        <script id="editor" name="content" type="text/plain" style="width:700px;height:500px;"></script>
                        <input type="hidden" id="temp">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <table class="table table-bordered">
                <tr class="info">
                    <td><b>缩略图</b>
                        <input type="button" name="thumbnail" style="float : right ;" class="btn-circle btn-info btn-xs" value="取消" onclick="removeThumbnail()">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img src="@routes.Assets.at("images/picture.png")" id="showImgEdit" style="width:100px; height:120px ; cursor : pointer ;" onclick="showFile()" />
                        <input type="file" style="display : none ;width:100px ; height:120px ;" name="thumbnail" id="fileEdit">
                    </td>
                </tr>
                <tr class="info">
                    <td><b>发布时间</b></td>
                </tr>
                <tr>
                    <td align="center"><div id='dateTimeInput'></div></td>
                </tr>
                <tr class="info">
                    <td><b>状态</b></td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<input name="audit" readonly value="0" type="radio" checked="checked" >待审核
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;<input name="stick" type="radio" value="1" >推荐<br>
                            &nbsp;&nbsp;<input name="stick" value="0" type="radio" checked="checked" >不推荐
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-actions">
            <div class="col-md-offset-5 col-md-6" style="position: fixed;z-index: 1000;bottom: 26px;left:0px">
                <input id="time" name="releasetimeString" type="hidden" value="">
                <input id="attachmentname" name="attachmentname" type="hidden" value="">
                <input id="attachmentpath" name="attachmentpath" type="hidden" value="">
                <input type="button" id="sub" class="btn green" value="提交并审核">
                <input type="button" id="show" class="btn yellow" value="预 览">
                <input type="reset" class="btn default" onclick="ajaxLoad_index('content-body-div','columnTreeIndex',null,this)" value="关 闭">
            </div>
        </div>
    </form>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>

    <div class="container">
        <div id="loadingDiv" class="modal fade in" style="background: url(@routes.Assets.at("images/bg-white.png")) repeat;">
            <div class="modal-header"style="height: 30%;border: 0px;"></div>
            <div class="modal-body" style="width:40%;height: 65%; margin: auto;border: 0px;">
                <p id="loading" style="text-align: center;margin-top:20px;font-family: '微软雅黑';"><img src='@routes.Assets.at("images/loading.gif")' > 数据加载中，请稍后</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function selectMobile_idValue() {
        $("#mobile_idValue").val($("#mobile_idSelect").val());
    }

    UE.delEditor("editor");
	var editor = UE.getEditor('editor');
	$(document).ready(function() {
         $("#dateTimeInput").jqxDateTimeInput({
         	formatString: "yyyy-MM-dd HH:mm:ss",
         	showTimeButton: true,
         	theme: 'energyblue',
         	value: null,
         	width: '200px',
         	height: '30px',
         	readonly:true
         });

	});
	$(function() {
		$("#fileEdit").change(function() {
			var files = $('#fileEdit').prop('files');//获取到文件列表
			var strsrc = getObjectURL(this.files[0]);
			if (strsrc == null) {
				return false;
			} else {
				$("#showImgEdit").attr("src", strsrc);
			}
		});
	});
	//点击file框，弹出选择文件框
	function showFile() {
		$("#fileEdit").click();
	}
	//取消缩略图
	function removeThumbnail(){
		$("#showImgEdit").attr('src','@routes.Assets.at("images/picture.png")');
	}
	$('#dateTimeInput').on('change', function (event){
		$("#time").val($('#inputdateTimeInput').val());
	});
	$(function (){
       $("#time").val($('#inputdateTimeInput').val());
	   var type_id='@type_id';
	   	 selectOption(type_id);
	});
    var url="";
    //提交
	$('#sub').click(function(){
	    if($('#mobile_idValue').val() == '') {
	         $('#mobile_idValue').val($('#mobile_idValue1').val());
	    }
	     url='contentAdd';
	     $('#myFormInput2').submit();
	});
	//预览
    $('#show').click(function(){
        if($('#mobile_idValue').val() == '') {
	         $('#mobile_idValue').val($('#mobile_idValue1').val());
	    }
	     url='contentShow';
	     $('#myFormInput2').submit();
	});

    $('#myFormInput2').submit(function() {
       editor.sync();
      var idValue= $('#selectAdd').combo('getValue');
       if(idValue==null||idValue==''){
            tipInfo('栏目不能为空');
            return false;
       }
       if($('#title').val()==''){
            tipInfo('标题不能为空');
            return false;
       }
       if($('textarea[name="content"]').val ()==""){
           tipInfo('内容不能为空');
           return false;
       }
        var isSubmit=true;
        var hideNums=$("input[name='priority[]']");
        for(var i=0;i<hideNums.length;i++){
            for(var j=i+1;j<hideNums.length;j++){
                if(hideNums[i].value==hideNums[j].value){
                    tipInfo('图片序号不能重复');
                    return false;
                }
            }
        }
        var attachmentTextAreas=$("textarea[name='attachmentnews[]']");
        for(var i=0;i<attachmentTextAreas.length;i++){
			 if(attachmentTextAreas[i].value==''){
                    tipInfo('图片说明不能为空');
                    return false;
              }
        }
        var img=$('.imgClass');
        for(var i=0;i<img.length;i++){
            var src = $(img[i]).attr('src');
            if(src.indexOf("images/picture.png")!=-1){
                isSubmit=false;
                break;
            }
        }
        if(isSubmit==false){
            tipInfo('图片未上传');
            return false;
        }
        var time = new Date($("#time").val().replace(/-/g,"/"));
        var now = new Date();
        if(time - now < 0){
            tipInfo('发布时间不能在当天之前');
            return false;
        }
        if($("#showImgEdit").attr("src") != "/assets/images/picture.png") {
            if($("#memo").val().trim() == '') {
                tipInfo('摘要不能为空！');
                return false;
            }
        }
         if($("#fileupload").is(":visible")){
            if(url=='contentAdd'){
                if($("#fileupload").val().trim() == '') {
                    tipInfo('请选择附件！');
                    return false;
                }
            }
         }
         var options = {
            url:url,
            beforeSubmit:  showRequest,  //提交前处理
            success:       showResponse,  //处理完成
            resetForm: false,
            dataType:  'text'
        };
         if(url != "contentShow") {
	 		$("#loadingDiv").show();
	 	}
        $(this).ajaxSubmit(options);
       return false;

    });
	function showRequest() {
	    //取出错误状态的控件的个数
        var isNot = $("#myFormInput2").find(".form-group.has-error").length;
        if (isNot == 0) {
            $("#myFormInput2Error").hide();
            return true;
        } else {
            $("#myFormInput2Error").show();
            return false;
        }
	}

	//提交表单后
	function showResponse(result, statusText){
	    $("#loadingDiv").hide();
	    if(result=='true'){
		    tipInfo("添加成功！");
		    ajaxLoad('content-body-div',"columnTreeIndex",null,this);
	    }else if(result=='false'){
	        tipInfo("该附件已存在！");
	    }else{
            window.open(result);
	    }
    }
    //根据选中的栏目列code显示对应的文件上传类型
    function selectOption(code){
        var attachmentname="";
        var attachmentpath="";
        switch(code){
        case '6C6C05EB74584415AE607A5FE9C8062B':
            $('#files').hide();
            $('#photos').empty();
            $('#videos').hide();
            break;
        case 'DBA383AFA57F47949F9628F94D48248E':
            $('#photos').empty();
            $('#files').hide();
            $('#videos').show();
          break;
        case '133643B9709C41F8B2A529C177CD242C':
        var str="<label class='col-md-2 control-label'>相册图集<span class='required'>*</span></label>";
            str+=" <div class='col-md-10'>";
            str+="<div<div><input name='priority[]' value='1' style='width:35px' type='number'/>";
            str+="<img class='imgClass' style='display:inline-block;width:120px;height: 120px;margin-top: 0px' src='@routes.Assets.at("images/picture.png")' onclick='imgClick(this)'/>";
            str+="<input class='fileClass' name='attachmentname' style='display: none' type='file' onchange='selectImage(this)'/>";
            str+="<textarea name='attachmentnews[]' style='vertical-align:middle;height: 100px;width:450px;' required ></textarea>";
            str+="<input type='button' onclick='addImg(this)' value='&nbsp;+&nbsp;'<input type='button' onclick='deleteImage(this)' style='width: 25px' value='-'/>";
            str+=" </div></div></div>";
            $('#photos').html(str).show();
            $('#files').hide();
            $('#videos').hide();
            break;
        case 'C06C6E65B13D45A0B60B21D9E23143BE':
            $('#files').show();
            $('#photos').empty();
            $('#videos').hide();
            break;
        default:
            $('#files').hide();
            $('#photos').empty();
            $('#videos').hide();
        }
    }
   function imgClick(img){
        $(img).next().click();
   }
   //点击添加按钮生成图文
   var num=1;
   function addImg(btn){
    var str="";
    num++;
    str+="<div><input value='"+num+"' style='width:35px' name='priority[]' type='number'/>&nbsp;";
    str+="<img class='imgClass' style='display:inline-block;width:120px;height: 120px;margin-top: 0px' src='@routes.Assets.at("images/picture.png")' onclick='imgClick(this)'/>";
    str+="<input class='fileClass' name='attachmentname' style='display: none' type='file' onchange='selectImage(this)'  />";
    str+="&nbsp;<textarea name='attachmentnews[]' style='vertical-align:middle;height: 100px;width:450px;' required ></textarea>";
    str+="&nbsp;<input type='button' onclick='addImg(this)'' value='&nbsp;+&nbsp;'/>&nbsp;<input type='button' onclick='deleteImage(this)' style='width: 25px' value='-'/></div>";
    $(btn).parent().parent().append(str);
   }
   //删除图文列表
    function deleteImage(obj){
        num--;
        $(obj).parent().remove();
    }
	//获取本地图片显示
	function getObjectURL(file) {
		var url = null;
		if (window.createObjectURL != undefined) { // basic
			url = window.createObjectURL(file);
		} else if (window.URL != undefined) { // mozilla(firefox)
			url = window.URL.createObjectURL(file);
		} else if (window.webkitURL != undefined) { // webkit or chrome
			url = window.webkitURL.createObjectURL(file);
		}
		return url;
	}
	//选择图文
	function selectImage(obj){
        var files = $(obj).prop('files');//获取到文件列表
        var strsrc = getObjectURL(obj.files[0]);
        if (strsrc == null) {
            return false;
        } else {
            $(obj).prev().attr("src", strsrc);
        }
	}
	$('#selectAdd').combotree({
    });
</script>