@(column:Column,columnList:List[Column],typeList:List[ColumnType],mobileColumn:List[Mobile],mobileContent:List[Mobile])
<div class="row">
	<div class="col-lg-12">
		<span style="color: black; font-weight: bold; font-size: 16px;">
			<i class="fa fa-edit"></i>&nbsp;&nbsp;编辑栏目
		</span> &nbsp;&nbsp;| <a class="btn" style="color: gray;"
			onclick="ajaxLoad_index('content-body-div','columnIndex',null,this)">
			<i class="fa fa-reply"></i>&nbsp;&nbsp;返回栏目列表
		</a>

		<hr style="border-bottom: 1px solid #89C4F4; margin-top: 5px;">
		<form class="form-horizontal" id="myFormInput2" method="post">
			<input type="hidden" name="id"value="@column.id">
			<div class="col-lg-8">
				<i class="fa fa-gift font-green-sharp"></i>
				<span class="caption-subject font-green-sharp bold">基本信息</span>
				<hr>
			<div class="form-group">
				<label class="col-md-2 control-label">栏目类型<span
				class="required">*</span></label>
				<div class="col-md-10">
					<select class="form-control" name="type_id" id="type_id" required>
						<option value="">-请选择-</option>
						@for(ctype <- typeList){
							<option value="@ctype.id" @if(ctype.id.equals(column.type_id)){selected="selected"}>@ctype.name</option>
						}
					</select>

				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">父级栏目&nbsp;&nbsp;</label>
				<div class="col-md-10">
					<select id="parent" name="parent" onchange="showType()" style="width: 100%;height: 35px;" data-options="url:'selectJsonTreeHasNullValue',method:'get',
						onSelect:function(node){
                            var id= node.id;
                            $('#parent').combotree('setValue',id);
                            showType();
                           },
                           onLoadSuccess:function(){
                           	  if('@column.code'.length>3){
                           	   	$('#parent').combotree('setValue','@column.parent');
                           	  };
						    showType();
							}
                        ">
					</select>
				</div>
			</div>
				<div class="form-group">
					<label class="col-md-2 control-label" >部门&nbsp;&nbsp;</label>
					<div class="col-md-10" >
						<input id="dept_ids" name="dept_ids" type="hidden">
						<div style="height:150px;overflow-x: auto;overflow-y: auto;border: 2px skyblue dotted;">
							<div id="deptTree" class="tree-demo" style="width: 100%;margin: auto;"></div>
						</div>
					</div>
				</div>
			<div class="form-group">
				<label class="col-md-2 control-label" >栏目名称<span
				class="required">*</span></label>
				<div class="col-md-10">
					<input type="text" name="name" value="@column.name" checkType="news" required class="form-control" placeholder="栏目名称" />
					<span class="help-block">提示信息</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">栏目简介&nbsp;&nbsp;</label>
				<div class="col-md-10">
					<textarea id="memo" rows="3" class="form-control" name="memo"
					placeholder="栏目简介">@column.memo</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">排列顺序<span
				class="required">*</span></label>
				<div class="col-md-10">
					<input type="text" name="columnorder" checkType="zeroInt" max="11" required value="@column.columnorder" class="form-control" placeholder="排列顺序" />
					<span class="help-block">提示信息</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">外部链接&nbsp;&nbsp;</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="url" value="@column.url" placeholder="外部链接"
					/>
				</div>
			</div>
				<i class="fa fa-gift font-green-sharp"></i>
				<span class="caption-subject font-green-sharp bold">模板设置</span>
				<hr>
			<div class="form-group">
				<label class="col-md-2 control-label">栏目模板<span
				class="required">*</span></label>
				<div class="col-md-10">
					<select class="form-control" required name="mobilecolumn_id">
						<option value="">-请选择-</option>
					@for(mcn <- mobileColumn){
						<option value="@mcn.id" @if(mcn.id.equals(column.mobilecolumn_id)){selected="selected"}>@mcn.name</option>
					}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">内容模板<span
				class="required">*</span></label>
				<div class="col-md-10">
					<select class="form-control" required name="mobilecontent_id">
						<option value="">-请选择-</option>
						@for(mct <- mobileContent){
							<option value="@mct.id" @if(mct.id.equals(column.mobilecontent_id)){selected="selected"}>@mct.name</option>
						}
					</select>
				</div>
			</div>
				<i class="fa fa-gift font-green-sharp"></i>
				<span class="caption-subject font-green-sharp bold">其他设置</span>
				<hr>
			<div class="form-group">
				<label class="col-md-2 control-label">显示类型&nbsp;&nbsp;</label>
				<div class="col-md-4">
					<select class="form-control" name="showtype">
						<option value="0" @if(column.showtype.equals("0")){selected="selected"}>前台</option>
						<option value="1" @if(column.showtype.equals("1")){selected="selected"}>后台</option>
					</select>
				</div>
				<label class="col-md-2 control-label" name="audittype">审核类型&nbsp;&nbsp;</label>
				<div class="col-md-4">
					<select class="form-control">
						<option value="1" @if(column.audittype.equals("1")){selected="selected"}>是</option>
						<option value="0" @if(column.audittype.equals("0")){selected="selected"}>否</option>
					</select>
				</div>
				<br><br><br><br><br>
			</div>
		</div>
			<div class="form-actions">
				<div id="subbtn" class="col-md-offset-5" style="position: fixed;z-index: 1000;bottom: 26px;left:0px">
						<input type="submit"
							class="btn green" value="提交"> <input type="button" onclick="ajaxLoad_index('content-body-div','columnIndex',null,this);"
					class="btn default" value="关 闭">
				</div>
			</div>
		</form>
		<div class="container">
			<div id="loadingDiv" class="modal fade in" style="background: url(@routes.Assets.at("images/bg-white.png")) repeat;">
				<div class="modal-header"style="height: 30%;border: 0px;"></div>
				<div class="modal-body" style="width:40%;height: 65%; margin: auto;border: 0px;">
					<p id="loading" style="text-align: center;margin-top:20px;font-family: '微软雅黑';"><img src='@routes.Assets.at("images/loading.gif")' > 数据加载中，请稍后</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="@routes.Assets.at("javascripts/formCheck.js")"></script>
<script>
	$(function(){
		$('#parent').combotree({});
		$.post('selectJsTreeDept',{'dept_ids':'@column.dept_ids'},function(data){
           $('#deptTree').jstree({
            "core" : {
                "themes" : {
                    "responsive": false
                },
              "data" : data
            },
            "types" : {
                "default" : {
                    "icon" : "fa fa-folder icon-state-warning icon-lg"
                },
                "file" : {
                    "icon" : "fa fa-file icon-gray icon-lg"
                },
                "root" : {
                    "icon" : "fa fa-folder icon-state-danger icon-lg"
                }
            },
            'plugins': ["wholerow", "checkbox", "types"],
            "checkbox" : {"three_state" : false }
        }).bind("activate_node.jstree", function (obj, e) {
            // 处理代码
            // 获取当前节点
            var currentNode = e.node;
            if(currentNode.state.selected==true){
                if(currentNode.parents.length>0){
                    $("#deptTree").jstree("check_node",currentNode.parents);
                }
                if(currentNode.children_d.length>0){
                    $("#deptTree").jstree("check_node",currentNode.children_d);
                }
            }else{
                 if(currentNode.children_d.length>0){
                    $("#deptTree").jstree("uncheck_node",currentNode.children_d);
                }
            }
			$("#dept_ids").val(getDeptIds);
        });
       });
		 showType();
		 var options = {
				url:'columnModify',
				beforeSubmit:  showRequest,  //提交前处理
				success:       showResponse,  //处理完成
				resetForm: false,
				dataType:  'text'
		 };
		$('#myFormInput2').submit(function() {
		 	 $("#loadingDiv").show();
			 $(this).ajaxSubmit(options);
			 return false;
		 });
	});

	//提交表单后
	function showResponse(result, statusText){
		$("loadingDiv").hide();
		tipInfo(result);
		ajaxLoad_index('content-body-div','columnIndex',null,this);
	}
	//联动显示栏目类型
	function showType(){
	 var id= $('#parent').combotree('getValue');
		if(id!=null&&id!=''){
			$.post('linkageShowType',{'id':id},function(data){
				  $("#type_id").val(data);
				  var temptype = document.getElementById("temptype");
				  if (temptype==null) {
					  var str='<input id="temptype" type="hidden" name="type_id" value="'+data+'">';
					  $('#myFormInput2').append(str);
				  }else{
					  $("#temptype").val(data);
				  }
			});
			$('#type_id').attr("disabled","desabled");
		}else{
			$('#type_id').attr("disabled",false);
			$('#temptype').remove();
		}
	}
	function getDeptIds(){
	 	var deptIds= $('#deptTree').jstree().get_checked();
	 	var str=""
	 	if(deptIds.length>0){
	 		for(var i=0;i<deptIds.length;i++){
	 			str+=deptIds[i];
	 			if(i<deptIds.length-1){
	 				str+=",";
	 			}
	 		}
	 	}
	 	return str;
	}
</script>
