@(message:String)
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8849-1">
<title>用户登录</title>
<link href="@routes.Assets.at("theme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")">
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery.min.js")"
	type="text/javascript"></script>

<script src="@routes.Assets.at("theme/assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
<link href="@routes.Assets.at("theme/assets/global/css/gfonts1.css")" rel="stylesheet"
	type="text/css" />
<link
	href="@routes.Assets.at("theme/assets/global/plugins/font-awesome/css/font-awesome.min.css")"
	rel="stylesheet" type="text/css" />
<link
	href="@routes.Assets.at("theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")"
	rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("theme/assets/global/plugins/bootstrap/css/bootstrap.min.css")"
	rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("theme/assets/global/plugins/uniform/css/uniform.default.css")"
	rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="@routes.Assets.at("theme/assets/admin/pages/css/lock.css")" rel="stylesheet"
	type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="@routes.Assets.at("theme/assets/global/css/components-rounded.css")"
	rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("theme/assets/global/css/components.css")"
	id="style_components" rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("theme/assets/global/css/plugins.css")" rel="stylesheet"
	type="text/css" />
<link href="@routes.Assets.at("theme/assets/admin/layout/css/layout.css")" rel="stylesheet"
	type="text/css" />
<link href="@routes.Assets.at("theme/assets/admin/layout/cssthemes/default.css")"
	rel="stylesheet" type="text/css" id="style_color" />
<link href="@routes.Assets.at("theme/assets/admin/layout/css/custom.css")" rel="stylesheet"
	type="text/css" />
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")" />
<link rel="stylesheet"
	href="@routes.Assets.at("theme/assets/global/plugins/jquery-notific8/jquery.notific8.min.css")"
	media="screen">
<body>
<!-- BEGIN CONTAINER -->
	<div class="page-lock">
	 	<div class="page-logo">
		<a class="brand" href="index.html">
		<!--<img src="theme/assets/admin/layout2/img/logo-big.png" alt="logo" class="img-circle" />-->
		</a>
	</div>
		<div class="page-body" style="margin-top: 150px;">
			<div class="lock-head">用户登录</div>
			<div class="lock-body">
				<div class="pull-left lock-avatar-block">
					<img src="@routes.Assets.at("theme/assets/global/img/login-user.png")"
						class="lock-avatar">
				</div>
				<div class="form-body">
                    <form class="lock-form pull-left" id="loginForm" action="login" method="post">
						<div id="myFormInput2Error" class="alert alert-danger display-hide">
							<button class="close" data-close="alert"></button>
							您的表单数据填写错误，请检查 <input id="alertText" type="hidden"
								class="form-control" value="" placeholder="" /> <a
								href="javascript:;" class="btn green-meadow btn-lg"
								id="alertShow" style="display: none;"></a>
						</div>
						<div class="input-group">
							<input type="text"  class="form-control input-right" name="name" placeholder="用户名" required value="" id=""/>
							<span class="help-block">&nbsp;</span>
						</div>
						<div class="input-group">
							<input type="password"  class="form-control input-right" name="password" placeholder="密码" required value="" id="" />
							<span class="help-block">&nbsp;</span>
						</div>
						<div class="input-group">
							<input style="width: 100px" type="text" id="tvery"   name="tvery" class="form-control input-right" placeholder="验证码" required />
                            <img src="verifyCode" width="74" height="35" title="点击更换验证码" onclick="changeImg(this)" style="margin-left:10px;cursor: pointer;"/>
						</div>
						<div class="form-group">
                            <button class="btn btn-success uppercase" type="submit" class="btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						</div>
					</form>
				</div>
			</div>
			<div class="lock-bottom">

			</div>
		</div>

		<div class="page-footer-custom" style="color: white;">
			Copyright &copy; 2015 陕西北佳信息技术有限责任公司
		</div>
	</div>
<!-- END CONTAINER -->
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
<!-- BEGIN CORE PLUGINS -->
<script src="@routes.Assets.at("theme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="@routes.Assets.at("theme/assets/global/plugins/countdown/jquery.countdown.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("theme/assets/global/scripts/metronic.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/admin/layout2/scripts/layout.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/admin/layout2/scripts/demo.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("theme/assets/global/plugins/jquery-notific8/jquery.notific8.min.js")"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script src="@routes.Assets.at("public/javascripts/jquery.form.js")"></script>
<script src="@routes.Assets.at("public/javascripts/formCheck.js")"></script>
<script>


jQuery(document).ready(function() {
    var message = "@message";
		if(message!=""){
			if(message=='true'){
				$("#tvery").val("");
				window.location.href="admin";
			}else{
				tipInfo(message);
			}
		}

    $.backstretch([
            "@routes.Assets.at("theme/assets/admin/pages/media/bg/1.jpg")",
            "@routes.Assets.at("theme/assets/admin/pages/media/bg/2.jpg")",
            "@routes.Assets.at("theme/assets/admin/pages/media/bg/3.jpg")",
            "@routes.Assets.at("theme/assets/admin/pages/media/bg/4.jpg")"
        ], {
        fade: 1000,
        duration: 10000
   });
});
//消息提示框配置参数
var params = {
	life : 2000,
	theme : 'teal',
	sticky : false,
	horizontalEdge : 'bottom',
	verticalEdge : 'right',
	heading : '提示：',
	zindex:9995

};
//消息提示
function tipInfo(msg) {
	$.notific8(msg, params);
}
function changeImg(obj){
	console.log(obj);
	var  src='verifyCode?radom='+new Date().getTime();
	$(obj).attr('src',src);
}
</script>
</body>
</html>
