@(roleList:List[Role])
<div class="row">
    <div class="col-lg-12">
        <hr style="border-bottom: 1px solid #89C4F4; margin-top: 5px;">
        <form class="form-horizontal" id="myFormInput2" method="post">
            <div class="form-body">
                <div class="col-lg-9" style="margin-left:-25px;">
                    <div class="form-group">
                        <label class="col-md-2 control-label">用户名<span
                        class="required">*</span></label>
                        <div class="col-md-8">
                            <input type="text" name="name" required class="form-control" placeholder="用户名" />
                            <span class="help-block">提示信息</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">姓名<span
                        class="required">*</span></label>
                        <div class="col-md-8">
                            <input type="text" required name="tname"class="form-control" placeholder="姓名" />
                            <span class="help-block">提示信息</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">部门<span
                        class="required">*</span></label>
                        <div class="col-md-8">
                            <select id="dept_id" name="dept_id" style="width: 100%;height: 35px;" data-options="url:'selectDeptJsonTree',method:'get',required:true,
                                onSelect:function(node){
                                    var id= node.id;
                                    $('#parent').combotree('setValue',id);
                                    if(id==null||id==''){
                                        $('#dept_id').parents('.form-group').addClass('has-error');
                                        $('#dept_id').nextAll('.help-block').text('请在列表中选择一项！');
                                        $('#dept_id').nextAll('.help-block').fadeTo(1,1);
                                    }else{
                                        $('#dept_id').parents('.form-group').removeClass('has-error').addClass('has-success');
                                        $('#dept_id').nextAll('.help-block').fadeTo(1,0);
                                    }
                                   }
                                ">
                            </select>
                            <span class="help-block">提示信息</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">邮箱&nbsp;&nbsp;</label>
                        <div class="col-md-8">
                            <input type="email" name="mail" class="form-control" placeholder="邮箱" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">电话&nbsp;&nbsp;</label>
                        <div class="col-md-8">
                            <input type="text" name="tel" checkType="phone" class="form-control" placeholder="电话" />
                            <span class="help-block">提示信息</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">角色<span
                        class="required">*</span></label>
                        <div class="col-md-8">
                            <select class="form-control" required name="role_id" >
                                <option value="">-请选择-</option>
                                @for(role <-roleList){
                                    <option value="@role.id">@role.name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit"
                    class="btn green" value="提交">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" onclick="ajaxLoad_index('content-body-div','adminUserIndex',null,this);"
                    class="btn default" value="关闭">
                </div>
            </div>
        </form>
    </div>
</div>
<script src="@routes.Assets.at("javascripts/formCheck.js")"></script>
<script>
	$(function(){
		$('#dept_id').combotree({});
		 var options = {
				url:'adminUserAdd',
				beforeSubmit:  showRequest,  //提交前处理
				success:       showResponse,  //处理完成
				resetForm: false,
				dataType:  'text'
		 };
		$('#myFormInput2').submit(function() {
		     var dept_id=$('#dept_id').combotree("getValue");
		     if(dept_id==null||dept_id==''){
		        $('#dept_id').parents(".form-group").addClass("has-error");
				$('#dept_id').nextAll(".help-block").text("请在列表中选择一项！");
				$('#dept_id').nextAll(".help-block").fadeTo(1,1);
				return false;
		     }
			 $(this).ajaxSubmit(options);
			 return false;
		});
	});
	//提交表单后
	function showResponse(result, statusText){
		if(result=='true'){
		    tipInfo('添加成功！');
		    ajaxLoad_index('content-body-div','adminUserIndex',null,this);
		}else{
		    tipInfo(result);
		}
	}
</script>
